*{
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto';
}

body{
	height: 2500px;
	margin: 0;
}

.parallax{
	height: 100%;
	background-image: url('/images/tv-login.jpeg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#app-name {
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 80px;
	position: fixed;
	color: white;
	font-size: 50px;
}

#app-name:hover{
	cursor: pointer;
}

.nav-login {
	display: inline-block;
	position: fixed;
	right: 50px;
}

#sign-in-button{
	width: 80px;
	border-radius: 2px;
	background-color: white;
	border: 1px solid black;
}

#email-sign-in, #password-sign-in{
	padding-left: 15px;
}


.sign-in {
	height: 37px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	border-radius: 2px;
	border: 1px solid black;
}


.intro {
	display: block;
	clear: both;
	margin-left: 25px;
	text-align: center;
}

.intro-info {
	margin-bottom: 10px;
	margin-top: 0;
	color: white;
	font-family: 'Roboto';
	font-size: 40px;
	padding: 150px 30px 350px 30px;
}

.sign-up {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 1px solid white;
	border-radius: 2px;
}

#username {
	height: 40px;
	width: 320px;
	padding-left: 10px;
	margin: 15px 20px;
}

#password-label {
	display: block;
	font-size: 20px;
	margin-left: 20px;
}

#password {
	height: 40px;
	width: 320px;
	margin: 15px 20px;
	padding-left: 10px;
}

#username-label {
	font-size: 20px;
	display: block;
	margin-left: 20px;
}

.sign-up-header {
	text-align: center;
	font-size: 25px;
}

#sign-up-button {
	display: block;
	height: 40px;
	width: 320px;
	margin: 10px auto 10px auto;
}

fieldset{
	border: none;
}
