* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 500px;
}

.parallax{
	height: 2000px;
	background-image: url('/images/tv-background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#app-name {
	display: inline-block;
	font-size: 50px;
	text-decoration: none;
	font-family: 'Roboto';
	color: white;
	position: relative;
	top: 10px;
	left: 40px;
}

#logout{
	height: 40px;
	width: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	position: absolute;
	top: 20px;
	right: 20px;
}

.add-header {
	font-size: 30px;
	font-family: 'Roboto';
	color: white;
}

.create-list {
	margin-right: auto;
	margin-left: auto;
}

.add-show-button {
	height: 40px;
	width: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	position: relative;
	left: 60px;
	margin-bottom: 20px;
}

.js-return-date, .js-schedule-day, .schedule, .return-date, .js-show-title, #checkbox-container {
	font-size: 25px;
	font-family: 'Roboto';
	margin-top: 10px;
	margin-bottom: 15px;
}

#show-title, #show-date, #schedule-day, #schedule-time{
	display: block;
	height: 40px;
	width: 320px;
	font-size: 15px;
	margin: 0 auto 8px auto;
}

#name-label, #return-label, #schedule-label, #time-label {
	margin-left: 40px;
	font-size: 15px;
	font-family: 'Roboto';
}

.show-form {
	width: 400px;
	font-family: 'Roboto';
	margin: 10px auto 20px auto;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
}

#submit-show {
	height: 40px;
	width: 320px;
	margin-left: 40px;
	margin-bottom: 10px;
}

#legend-title {
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto';
}

.js-show-item {
	display: inline-block;
	background-color: white;
	height: 275px;
	width: 350px;
	margin-bottom: 20px;
	border: 1px solid white;
	border-radius: 5px;
}
.fa-trash-o:hover{
	cursor: pointer;
}

.fa-trash-o{
	margin-left: 40px;
}

.js-show-title{
	display: inline-block;
	text-decoration: underline;
}

.centered{
	text-align: center;
}

#checkbox-container{
	display: inline-block;
	padding-left: 10px;
}

.return-date, .schedule{
	padding-left: 10px;
}

fieldset{
	border: none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	.row{
		margin-left: 75px;
		margin-right: 75px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.row{
		margin-left: -40px;
		margin-right: -40px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px){
	.row{
		margin-right: 60px;
		margin-left: 60px;
	}
}

@media only screen and (min-width: 537px) and (max-width: 575px){
	.row{
		margin-left: 60px;
		margin-right: 60px;
	}
}

@media only screen and (min-width: 500px) and (max-width: 538px){
	.row{
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media only screen and (min-width: 460px) and (max-width: 499px){
	.row{
		margin-right: 30px;
		margin-left: 30px;
	}
}

@media only screen and (min-width: 430px) and (max-width: 459px){
	.row{
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 429px){
	.row{
		margin-left: 5px;
		margin-right: 5px;
	}
}

