* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 500px;
}

.parallax{
	height: 10000px;
	background-image: url('/images/tv-background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#app-name {
	display: inline-block;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Roboto';
	color: white;
	position: relative;
	left: -60px;
	top: 5px;
}

#logout{
	height: 40px;
	width: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	position: relative;
	left: 200px;
	top: 30px;
}

.add-header {
	font-size: 30px;
	font-family: 'Roboto';
	color: white;
}

.add-show {
	text-align: center;
}

.add-show-button {
	height: 40px;
	width: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
}

.js-return-date, .js-schedule-day, .schedule, .return-date, .js-show-title, #checkbox-container {
	font-size: 25px;
	font-family: 'Roboto';
	margin-top: 10px;
	margin-bottom: 15px;
}

#show-title, #show-date, #schedule-day, #schedule-time{
	display: block;
	height: 40px;
	width: 320px;
	font-size: 15px;
	margin: 0 auto 8px auto;
}

#name-label, #return-label, #schedule-label, #time-label {
	margin-left: 23px;
	font-size: 15px;
	font-family: 'Roboto';
}

.show-form {
	width: 400px;
	font-family: 'Roboto';
	margin: 10px auto 20px auto;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
}

#submit-show {
	height: 40px;
	width: 320px;
	margin-left: 23px;
}

#legend-title {
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto';
}

.js-show-item {
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: 290px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	background-color: white;
	height: 250px;
	width: 400px;
	border: 2px solid white;
	border-radius: 5px;
}
.fa-trash-o:hover{
	cursor: pointer;
}

.fa-trash-o{
	margin-left: 100px;
}

.js-show-title{
	display: inline-block;
	padding-left: 90px;
	text-decoration: underline;
}

#checkbox-container{
	display: inline-block;
}

fieldset{
	border: none;
}
